/* HTML Body Styling */
body {
    background-color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}


img {
    width: 350px;
    margin-top: 50px;
}

